<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942721491129-irv3rhq4ft39ukvlj1tg7c4te9pks9n0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942721491129-irv3rhq4ft39ukvlj1tg7c4te9pks9n0</string>
	<key>API_KEY</key>
	<string>AIzaSyAhQoy5t-BGNYZ_a2M_PZrjjjl0uM5yUBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>942721491129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterStudyApp</string>
	<key>PROJECT_ID</key>
	<string>study-app-bd34a</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-bd34a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942721491129:ios:627f99302a7ea2a35e3b68</string>
</dict>
</plist>